body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3b41c5;
    background: linear-gradient(
        to right,
        #3b41c5,#a981bb,#ffc8a9
    );
    color: #fff;
    margin: 0;
}


.container {
    text-align: center;
}

img {
    width: 60% !important;
}

.logo_img {
    width: 20% !important;
    top: 0;
    left: 0;
    position: fixed;
}

.github_logo {
    width: 2% !important;
    height: auto;
    margin-bottom: 10px;
}

.button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    font-size: 1.2em;
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #b62871;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #e32222;
}
#instructions, #about {
    display: none;
    margin-top: 20px;
}

footer {
    bottom: 0 !important;
    border-top: rgb(231, 38, 173) solid 3px;
    position: fixed;
    text-align: center;
    width: 100%;
}

 /* Use a media query to add a breakpoint at 650px to make increased github images */
 @media screen and (max-width: 650px) {
    .github_logo {
        width: 6% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   

/* Use a media query to add a breakpoint at 360px: for the home.html and index.html to increased image size */
@media screen and (max-width: 360px) {
    img {
        width: 90% !important;
    }
    .button {
       font-size: 1em;
       padding: 10px;
    }

    .logo_img {
        width: 30% !important;
    }

    .github_logo {
        width: 10% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   