/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a retro linear gradient background and center content */
body {
    font-family: 'Courier New', Courier, monospace; 
    background: linear-gradient(135deg, #3A1078, #4E31AA, #3795BD, #F7F7F8); 
    color: #2e2e2e; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
    text-align: center;
}

.logo_img {
    width: 20% !important;
    top: 0;
    left: 0;
    position: fixed;
}

.github_logo {
    width: 2% !important;
    height: auto;
    margin-bottom: 10px;
}

/* Style the instructions container */
#instructions {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

/* Style the heading and paragraph */
#instructions h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #3A1078; 
    font-family: "Pixelify Sans", sans-serif;
}

#instructions p {
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: 3px;
    font-family: "Pixelify Sans", sans-serif;
}

/* Style the back button container */
.back-btn {
    margin-bottom: 20px; 
}

/* Style the back button */
.button {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #4E31AA; 
    color: #F7F7F8; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #2a1b76; /* Slightly lighter color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.button:active {
    transform: scale(1); /* Reset scale on active */
}

footer {
    bottom: 0 !important;
    border-top: rgb(231, 38, 173) solid 3px;
    position: fixed;
    text-align: center;
    width: 100%;
}

 /* Use a media query to add a breakpoint at 650px to make increased github images */
 @media screen and (max-width: 650px) {
    .github_logo {
        width: 6% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   

/* Use a media query to add a breakpoint at 360px: for the home.html and index.html to increased image size */
@media screen and (max-width: 360px) {
    
    .logo_img {
        width: 30% !important;
    }

    .github_logo {
        width: 10% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   