body {
    margin: 0;
    padding: 0;
    /* background-color: #000; */
    /* color: #00FF00; */ /* Changed to green for better visibility */
    /* font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */

    background: linear-gradient(135deg, #3A1078, #4E31AA, #3795BD, #F7F7F8); 
    color: #2e2e2e; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

.logo_img {
    width: 20% !important;
    top: 0;
    left: 0;
    position: fixed;
}

.github_logo {
    width: 2% !important;
    height: auto;
    margin-bottom: 10px;
}

#game-container {
    width: 712px;
    /* Fixed size for the game container */
    height: 480px;
    /* Fixed size for the game container */
    background-color: #000;
    border: 2px solid #000;
    /* Add a border to keep it neat */
}

canvas {
    border: 2px solid #fff;
    image-rendering: pixelated;
    width: 512px;
    height: 480px;
}

.health-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #00FF00; /* Changed to green for better visibility */
}

/* Style the back button container */
.back-btn {
    margin-bottom: 20px; 
}

/* Style the back button */
.button {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #4E31AA; 
    color: #F7F7F8; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #2a1b76; /* Slightly lighter color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.button:active {
    transform: scale(1); /* Reset scale on active */
}

/* Use a media query to add a breakpoint at 360px: for the game.html to reduce size button */
@media screen and (max-width: 360px) {
    .button {
        font-size: 1em;
        padding: 8px
    }
    .logo_img {
        width: 30% !important;
    }

    .github_logo {
        width: 10% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   

footer {
    bottom: 0 !important;
    border-top: rgb(231, 38, 173) solid 3px;
    position: fixed;
    text-align: center;
    width: 100%;
}

 /* Use a media query to add a breakpoint at 650px to make increased github images */
 @media screen and (max-width: 650px) {
    .github_logo {
        width: 6% !important;
        height: auto;
        margin-bottom: 10px;
    }
}   

